@charset "utf-8";
@import '../node_modules/bulma/sass/utilities/_all.sass';

$dark-green: #102227;
$background-image: '../img/Tela de fundo site 2019.jpg';

$navbar-item-img-max-height: 4rem;
$navbar-height: 4rem;
$navbar-item-color: white;
$navbar-burger-color: white; 
$navbar-background-color: transparent;
$navbar-item-hover-color: $dark-green;
$navbar-burger-color: white;

@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass';

.has-background-darkgreen {
    background-color: $dark-green;
}

.is-darkgreen {
    background-color: $dark-green;
    color: white;
}

#sobre-area * [data-menu-ref] {
    display: none;
}

#sobre-area .notification {
    margin: 1em !important;
}

.section-area > div.hero-head > div { // Container do título "Sobre nós"
    margin-top: 2em;
}

#sobre-area .hero-body {
    padding-bottom: 0;
}

#sobre-area > div.hero-head hr { // Linha abaixo do título "Sobre nós"
    margin-top: 4em;
    margin-right: auto;
    margin-left: auto;
    background: $info;
    width: 40%;
}

#sobre-area p { // Parágrafos da área Sobre nós
    overflow: hidden;
}

#sobre-area .hero-body { // Div dos quadros
    padding-top: 0;
}

#sobre-area .notification { // Quadros
    transition-duration: 0.5s;
}

#sobre-area .notification:hover { // Quadros (hover)
    cursor: pointer;
    box-shadow: 3px 0px 12px $grey-lighter, -3px 0px 12px $grey-lighter, 0px 5px 8px $grey-lighter;
    transform: scale(1.01);
    transition-duration: 0.5s;
}

#sobre-area .notification .subtitle span { // Ver mais (premio e historia)
    color: white;
    font-weight: 450;
    // text-decoration: underline dotted;
}

#sobre-area .notification.is-warning .subtitle span { // Ver mais (objetivo)
    color: black;
}

// Quadros 1 e 2
#sobre-area .notification.is-primary .subtitle, #sobre-area .notification.is-info .subtitle {
    color: hsl(0, 0%, 92%);
    transition-duration: 0.5s;
}

//  Quadros 1 e 2 (hover)
#sobre-area .notification.is-primary .subtitle:hover, #sobre-area .notification.is-info .subtitle:hover {
    color: $white;
    transition-duration: 0.5s;
}

#sobre-area .notification.is-warning .subtitle { // Quadro 3
    color: $grey-dark;
    transition-duration: 0.5s;
}

#sobre-area .notification.is-warning .subtitle:hover { // Quadro 3 (hover)
    color: $black;
    transition-duration: 0.5s;
}

#calendario-area .table {
    margin-right: auto;
    margin-left: auto;
}

.navbar, .navbar-item {
    transition-duration: 0.5s;
}

.scrolled-text {
    color: rgb(255, 255, 255);
}

.scrolled {
    background-color: $dark-green;
    box-shadow: 0px 5px 10px grey;
}

.has-text-dark-green {
    color: $dark-green;
}

#inicio .hero-body {
    background-color: rgba($color: $dark-green, $alpha: .5);
}

#inicio .tile.is-vertical > .tile {
    margin-top: 3em;
}

#obrigatorios {
    text-decoration: underline;
    text-indent: 3em;
    font-size: 0.9em;
}

#inicio .box {
    background-color: rgba($color: white, $alpha: 0.75);
}

// Icones do Facebook e Instagram
.footer .table td:nth-child(2) > .icon, .footer .table td:nth-child(3) > .icon {
    color: $white;
}

// Icone do Facebook
.footer .table td:nth-child(2) > .icon:hover {
    color: $blue;
}

// Icone do Instagram
.footer .table td:nth-child(3) > .icon:hover {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.footer .table thead {
    border-bottom: 2px solid $primary;
}

.footer {
    padding-bottom: 2em;
}

@media (max-width: 768px) {
    .title-modified {
        margin-bottom: 0em !important;
    }
}

@media (min-width: 768px) {
    .title-modified {
        margin-bottom: -1em !important;
    }
}

@media (min-width: $desktop) {
    #inicio {
        background-image: url($background-image);
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position-x: center;
    }
}

@media (max-width: $desktop) {
    #inicio {
        background-image: url($background-image);
        background-size: 1200px 100%;
        background-position-x: center;
        background-attachment: fixed;
    }
    
    #obrigatorios {
        text-indent: 0em;
    }
}