/************************
*************************
Reset Style 
*************************
*************************/
@import "normalize.css";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
}
